#    ______                           _      
#   |  ____|                         | |     
#   | |__  __  ____ _ _ __ ___  _ __ | | ___ 
#   |  __| \ \/ / _` | '_ ` _ \| '_ \| |/ _ \
#   | |____ >  < (_| | | | | | | |_) | |  __/
#   |______/_/\_\__,_|_| |_| |_| .__/|_|\___|
#                              | |           
#                              |_|           

# This file needs to be duplicated and then renamed to 'terraform.tfvars'
# However, it must not be checked in to your source control under any circumstances!

access_key = ""
secret_key = ""

# terraform init --backend-config="access_key=" --backend-config="secret_key="